.app {
    padding: 30px;
    display: flex;
}

.app > div {
    margin-right: 50px;
}

.task-done {
    opacity: 0.5;
    text-decoration: line-through;
}

.task-active {
    font-weight: bold;
}

.btn-filter-active {
    background-color: chartreuse;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.error {
    border: 1px solid red;
}

.error-message {
    color: red;
}